.hero-unit
  form#conversation-form.form-horizontal(action="/conversations", method="POST")
    fieldset
      legend Create a new Conversation
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err
      label Subject
        input(type="text", id="subject", name="subject")
      != partial('form', {conversation: {}})

      .form-actions
        != contentTag('input', 'Add', {type: 'submit', class: 'btn btn-primary'})
