.hero-unit
  form#conversation-form.form-horizontal(action="/conversations/" + params.id + "?_method=PUT", method="POST")
    fieldset
      legend Update this Conversation
      if params.errors
        .control-group
          ul
          for err in params.errors
            li= err

      != partial('form', {conversation: conversation})

      .form-actions
        != contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'})
        != contentTag('button', 'Remove', {type: 'submit', formaction: '/conversations/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'})
