.hero-unit
  h2 All Conversations
  != linkTo('Create a new Conversation', addConversationPath, {class: 'btn pull-right'})

div#conversations-list
  if conversations
    each conversation in conversations
      .row.list-item(id="conversation-" + conversation.id)
        .span8
          h3!= linkTo(conversation.id, conversationPath(conversation.id))
        .span4
          h3
            i.icon-list-alt
            = conversation.id
