.hero-unit
  h2.id= conversation.id
  != linkTo('Edit this conversation', editConversationPath(params.id), {class: 'btn pull-right'})

h2 Conversation Properties
each property, key in conversation
  if key !== 'saved'
    .row.list-item
      .span4
        h3= key
      .span8
        h3
          i.icon-list-alt
          span(class=key)= property
